
<div ng-controller="CartCtrl">
    <script type="text/ng-template" id="RmBook">
        <div ng-include="'pages/cart_rm_modal.html'"></div>
    </script>
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">购物车</h1>
    </div>
    <div class="wrapper-md">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div ng-repeat="book in bookCart" style="min-height: 250px;">
                    <div class="row clearfix" style="background-color: #FFFFFF;">
                        <div class="col-lg-1">
                            <div class="checkbox" style="margin-top: 100px;">
                                <label class="i-checks i-checks-lg">
                                    <input type="checkbox" ng-click="choseBook('{{book.index}}')" ng-checked="book.paying">
                                    <i></i>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3" style="margin-top: 15px;">
                            <img src="img/books/{{book.book.category}}/{{book.book.url}}" style="height: 180px;">
                        </div>
                        <div class="col-lg-6" style="margin-top: 15px;">
                            <div class="panel panel-default">
                                <ul class="list-group no-radius">
                                    <li class="list-group-item">
                                        <h3><i class="fa fa-book"></i>&nbsp&nbsp{{book.book.name}}</h3>
                                    </li>
                                    <li class="list-group-item">
                                        <h5><i class="icon-pencil"></i>&nbsp&nbsp{{book.book.author}}</h5>
                                    </li>
                                    <li class="list-group-item">

                                        <span class="pull-right" style="width: 120px;">
                                            <input ui-jq="TouchSpin" type="text" ng-model="book.count" class="form-control" data-min='1' data-max="10" data-step="1" data-decimals="0" ng-change="countPrice()" ->
                                        </span>
                                        <h4>￥{{book.book.price}}</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn m-b-xs btn-md btn-danger btn-addon" ng-click="rmBook('{{book.book.index}}')" style="margin-top: 100px;"><i class="fa fa-trash-o"></i>删除</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-footer b-t bg-light cus-fixed" style="position: fixed;">
        <footer class="panel-footer">
            <div class="row">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-5">
                    <div class="checkbox">
                        <label class="i-checks i-checks-lg text-lg text-center text-dark">
                            <input type="checkbox" ng-click="choseAll()" ng-checked="payingAll">
                            <i></i>
                            全选
                        </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <button type="submit" class="btn btn-lg" ng-disabled="true" ng-style="countBtnStyle">合计: ￥{{billPrice}}</button>
                    <button type="submit" class="btn btn-danger btn-lg" ng-style="submitBtnStyle" ng-click="generateBill()">提交订单</button>
                </div>
            </div>
        </footer>
    </div>
</div>

