<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ChatCtrl">
    <!-- .col -->
    <div class="col w-lg bg-light b-r bg-auto" style="position: fixed;">
        <div class="vbox">
            <div class="wrapper bg b-b">
                <button class="btn btn-sm btn-success pull-right" ng-click="initRoom()" ng-show="user.au_manager">新建频道</button>
                <h3 class="m-n font-thin">聊天室</h3>
            </div>
            <div class="row-row">
                <div class="cell scrollable hover">
                    <div class="cell-inner">
                        <div class="m-t-n-xxs">
                            <div class="list-group list-group-lg no-radius no-border no-bg m-b-none">
                                <a ng-repeat="room in roomList" class="list-group-item m-l"
                                   ng-class="{'select m-l-none': room.selected }"
                                   ng-click="enterRoom(room.roomInfo.index)">
                                <span class="block text-ellipsis m-l-n text-md" ng-class="{'m-l-none': room.selected }">
                                <!--{{ item.first }} <strong>{{ item.last }}</strong>-->
                                <strong>{{room.roomInfo.title}}</strong>
                                    <!--<span ng-hide="item.first || item.last">No Name</span>-->
                                </span>
                                </a>
                            </div>
                        </div>
                        <div class="text-center pos-abt w-full" style="top:50%;" ng-hide="roomList.length"><strong class="h4">无可用的频道</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
    <!-- .col -->
    <div class="col">
        <div class="wrapper">
            <ul class="timeline" ng-style="chatStyle">
                <li class="tl-item" refresh-on="fresh" ng-repeat="msg in msgList">
                    <div class="tl-wrap b-{{msg.cate}}">
                        <span class="tl-date">{{msg.time}}</span>
                        <div class="tl-content panel padder b-a w-md w-auto-xs">
                            <span class="arrow left pull-up"></span>
                            <div class="text-lt m-b-sm">{{msg.username}}</div>
                            <div class="panel-body pull-in b-t b-light">
                                {{msg.content}}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="app-footer wrapper bg-light"
                 style="position: fixed; margin-left: 480px; border-top: 1px solid #dddddd;">
                <footer>
                    <div class="panel panel-default m-t-md m-b-n-sm pos-rlt">
                        <form>
                            <textarea class="form-control" rows="4" style="resize: none;" ng-model="messageBuffer"></textarea>
                        </form>
                        <div class="panel-footer bg-light lter">
                            <button class="btn btn-info pull-right btn-gap" ng-click="sendMessage()">发送</button>
                            <ul class="nav nav-pills nav-sm">
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

    </div>
    <!-- /.col -->
</div>