<div ng-controller="MainPageCtrl">
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">{{PageTitle}}</h1>
</div>
<div class="wrapper-md">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>
                <script type="text/ng-template" id="myModalContent.html">
                    <div ng-include="'pages/modal.html'"></div>
                </script>
                <div ng-repeat="book in bookGroup" style="min-height: 300px;">
                    <div class="row clearfix">
                        <div class="col-lg-3">
                            <img src="img/books/{{category}}/{{book.url}}" style="height: 180px;">
                        </div>
                        <div class="col-lg-7">
                            <div class="panel panel-default">

                                <div class="list-group no-radius alt">
                                    <div class="list-group-item" href>
                                        <h3><i class="fa fa-book"></i>&nbsp&nbsp{{book.name}}</h3>
                                    </div>
                                    <div class="list-group-item" href>
                                        <h5><i class="icon-pencil"></i>&nbsp&nbsp{{book.author}}</h5>
                                    </div>
                                    <div class="list-group-item" href>
                                        <h3>￥{{book.price}}</h3>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="clearfix">
                                        <button class="btn m-b-xs btn-md btn-primary btn-addon" style="width: 150px;" ng-click="addCart('{{book}}')"><i class="fa fa-plus"></i>加入购物车</button>
                                        <button class="btn m-b-xs btn-md btn-info btn-addon" style="width: 150px;" ng-click="buyBook('{{book}}')"><i class="icon-wallet"></i>立即购买</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
